<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
        margin: 0;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        } 

        .wrapper {
        text-align: center;
        max-width: 800px;
        width: 100%;
        }

        .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        }

        img {
        width: 100%;
        max-width: 380px;
        height: auto;
        }

    </style>
    <title>Vídeos</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="aa">Vídeo interessantes para você assistir</h1>
        <div class="grid">
            <a href="video1.html" class="aa"><img src="../imagens/video1.jpg" alt="video1"></a>
            <a href="video2.html"><img src="../imagens/video2.jpg" alt="video2"></a>
            <a href="video3.html" class="aa"><img src="../imagens/video22222.jpg" alt="video3"></a>
            <a href="video4.html"><img src="../imagens/video4.jpg" alt="video4"></a>
        </div>
    </div>
</body>
</html>