<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\paginas.css">
    <title>video3</title>
</head>
<body>
    <h1>Fall Guys pirateado</h1>
    <iframe width="660" height="415" src="https://www.youtube.com/embed/yyCeL8nw3yg?si=JdsfkmfpF1nYiI2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br><br>
    <a href="https://www.youtube.com/@Krisszas" target="_blank">Ver Canal Completo</a>
    <br><br>
    <a href="index.html"><img src="..\imagens\voltar.png" alt="voltar" width="45px"></a>
</body>
</html>